/* body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: rgb(var(--bs-tertiary-color-rgb));
} */

body {
  scroll-behavior: smooth;
}

.navbar-container {
  padding: 0.5rem 3rem;
}

.active-nav-link {
  font-weight: 600;
  color: #df6951;
}

.nav-link:hover {
  color: #de8c7b;
}

.logo-custom {
  width: 8rem;
}

.hero-section {
  height: 85vh;
}

.hero-title {
  /* display: inline-block;
  background-image: linear-gradient(90deg, #ff5733, #ff9f43);
  background-repeat: no-repeat;
  background-size: 100% 4px;
  background-position: 0 100%; */
  font-size: 3rem;
  font-weight: 700;
}

.hero-span {
  color: #df6951;
}

.hero-button {
  background-color: #df6951;
  border: none;
  /* padding: 0.5rem 1rem; */
  font-size: 1.25rem;
  border-radius: 0.5rem;
}

.hero-img {
  height: 100%;
  /* width: 100%; */
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  object-fit: cover;
}

.how-it-works-description {
  max-width: 600px;
  margin: 0 auto;
}

.how-it-works {
  overflow: hidden;
  background-color: #f8f9fa;
}

.how-it-works h2 {
  letter-spacing: 1px;
}

.btn-custom {
  background-color: #df6951;
  border: none;
  text-decoration: none;
  color: white;
}

.btn-custom:hover {
  background-color: #de8c7b;
}

/* Options Section */

.options-divider {
  margin: 2.5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.options-heading {
  letter-spacing: -0.05rem;
}

.options-image {
  object-fit: cover;
  width: 400px;
  height: 300px;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

/* Call to Action Section */
.cta {
  background: linear-gradient(135deg, #df6951, #df6951);
  color: white;
  text-align: center;
  padding: 6rem 2rem;
}

.cta h2 {
  font-weight: 700;
  font-size: 2.5rem;
}

.cta p {
  max-width: 600px;
  margin: 0 auto 2rem;
  font-size: 1.2rem;
  color: #f0f0f0;
}

.cta a {
  background-color: white;
  color: #df6951;
  border-radius: 30px;
  padding: 0.8rem 2.5rem;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
}

.cta a:hover {
  background-color: #f4f4f4;
  color: #e4a599;
}

/* destinations.html */

/* ====== Cards Section ====== */
.options-card {
  border: none;
  border-radius: 15px;
  overflow: hidden;
  transition: all 0.4s ease;
  cursor: pointer;
  position: relative;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.options-card img {
  object-fit: cover;
  transition: transform 0.5s ease;
}

/* Effects hover the mouse */
.options-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

.options-card:hover img {
  transform: scale(1.1);
  opacity: 0.8;
}

.options-card-title {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
  /* opacity: 0; */
  transition: all 0.5s ease;
  letter-spacing: 1px;
  /* bottom: 50%; */
  /* transform: translate(-50%, -80%); */
  opacity: 1;
}

.options-card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.options-card:hover::after {
  opacity: 1;
}

.options-card:hover .options-card-title {
  bottom: 50%;
  transform: translate(-50%, 50%);
  opacity: 1;
}
/* ====== Results Cards Section ====== */

.result-card-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.hidden {
  display: none;
}

.result-card {
  cursor: pointer;
  border-radius: 15px;
  overflow: hidden;
  transition: all 0.4s ease;
  cursor: pointer;
  position: relative;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.result-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

/* MODAL STYLES
-------------------------------------------------- */

.details-modal:hover {
  transform: none;
  box-shadow: none;
  cursor: default;
}

/* ===== FORM STYLES ===== */

.custom-icon {
  font-size: 4rem;
  color: #28a745;
}

/* --- Animations --- */

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*  */
.fade-in,
.fade-in-delay,
.fade-in-up {
  opacity: 0;
  animation: fadeInUp 1s ease forwards;
}

.fade-in {
  animation-delay: 0.2s;
}

.fade-in-delay {
  animation-delay: 0.4s;
}

.fade-in-up {
  animation-delay: 0.6s;
}

.fade-in-up.delay-1 {
  animation-delay: 0.8s;
}

.fade-in-up.delay-2 {
  animation-delay: 1s;
}

.fade-in-up.delay-3 {
  animation-delay: 1.2s;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 576px) {
  .how-it-works-title {
    margin: 2rem 0 2.5rem;
  }

  .navbar-container {
    padding: 0 !important;
    /* background-color: violet; */
  }

  .hero-section {
    height: auto;
    margin-bottom: 5rem;
  }

  .hero-text-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero-caroussel-section {
    height: 45vh !important;
  }

  .hero-img {
    clip-path: none;
    border-radius: 2rem;
  }

  #options {
    padding: 2rem !important;
  }

  .options-image {
    clip-path: none;
  }

  .options-card-container {
    height: 6.5rem !important;
  }

  /* .options-card-title {
    bottom: 50%;
    transform: translate(-50%, 50%);
    opacity: 1;
  } */

  form {
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
  }
}
